/kaggle/input/movielens-20m-dataset/rating.csv
/kaggle/input/movielens-20m-dataset/link.csv
/kaggle/input/movielens-20m-dataset/genome_tags.csv
/kaggle/input/movielens-20m-dataset/genome_scores.csv
/kaggle/input/movielens-20m-dataset/tag.csv
/kaggle/input/movielens-20m-dataset/movie.csv

In [2]:
movies = pd.read_csv("../input/movielens-20m-dataset/movie.csv")
ratings = pd.read_csv("../input/movielens-20m-dataset/rating.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [5]:
df = movies.merge(ratings, how="left", on="movieId")

In [6]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [7]:
df.shape

(20000797, 6)

In [8]:
df["title"].nunique()

27262

In [9]:
comment_counts = pd.DataFrame(df["title"].value_counts())

In [10]:

rare_movies = comment_counts[comment_counts["title"]<=1000].index

In [11]:
common_movies = df[~df["title"].isin(rare_movies)]

In [12]:
common_movies["title"].nunique()

3159

In [13]:
common_movies.shape

(17766015, 6)

In [14]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

In [15]:
user_movie_df.shape #sütun sayısı eşsiz film sayısı ,satır sayısı eşsiz kullanıcı sayısı

(138493, 3159)

In [16]:
user = 108170

In [17]:
movie_id = ratings[(ratings["userId"] == user)&(ratings["rating"] == 5)].\
           sort_values(by="timestamp", ascending=False).head()

In [18]:
movie_id

          userId  movieId  rating            timestamp
15643060  108170     7044     5.0  2005-06-11 04:59:10
15642888  108170       25     5.0  2005-06-11 04:59:06
15643008  108170     2871     5.0  2005-06-11 04:59:03
15642976  108170     1732     5.0  2005-06-11 04:58:44
15642926  108170      778     5.0  2005-06-11 04:58:37

In [19]:
movie_name = df[df.movieId == 7044]["title"].values[1]

In [20]:
movie_name = user_movie_df[movie_name]

In [21]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False)[1:6]

title
My Science Project (1985)                0.570187
Mediterraneo (1991)                      0.538868
Old Man and the Sea, The (1958)          0.536192
National Lampoon's Senior Trip (1995)    0.533029
Clockwatchers (1997)                     0.483337
dtype: float64