In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanicx/titanic.csv

In [132]:
df = pd.read_csv("../input/titanicx/titanic.csv")

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [1]:
from helpers import *

/kaggle/input/titanicx/titanic.csv

In [5]:
grab_col_names(df)

Observations: 891
Variables: 12
cat_cols: 6
num_cols: 3
cat_but_car: 3
num_but_cat: 4

(['Sex', 'Embarked', 'Survived', 'Pclass', 'SibSp', 'Parch'],
 ['PassengerId', 'Age', 'Fare'],
 ['Name', 'Ticket', 'Cabin'])

In [133]:
def titanic_data_prep(data):
    print("############## LABEL ENCODING ##############")
    binary_col = [col for col in df.columns if df[col].dtypes not in [float, int] and df[col].nunique() == 2]
    print(binary_col, label_encoder(data, binary_col), end="\n\n\n")
    
    print("############## OUTLIERS ##############")
    num_cols = [col for col in data.columns if data[col].dtypes != "O"]
    for col_name in num_cols:
        outlier_threshold(data, col_name, w1=0.05, w2=0.95)
    print("############## are there any outliers? ##############")        
    for col_name in num_cols:
            if check_outlier(data, col_name, w1=0.05, w2=0.95):
                print(col_name)
                print(col_name, grab_outliers(data, col_name, index=False, w1=0.05, w2=0.95))
                remove_outlier(data, col_name, w1=0.05, w2=0.95)
                print(col_name, "outliers_removed")
            else:
                print(col_name, "no outliers")
    print("\n\n\n")            
    print("############## MISSING VALUES ##############")
    print(data.isnull().sum())
    print(missing_values_table(data, na_name=True),  end="\n\n\n")
        
        
    print("############## ONE HOT ENCODER ##############")
    categorical_cols = [col for col in df.columns if df[col].dtypes == "O" and 10 >= df[col].nunique() > 2]
    print(categorical_cols, one_hot_encoder(data, categorical_cols, drop_first=True),  end="\n\n\n")
    
    print("############## FINDING RARE VALUES ##############")
    cat_cols = [col for col in data.columns if data[col].dtype not in ["int", "float"]]
    rare_analyser(data, "Survived", cat_cols)
    print("\n\n\n")        
    print("############## RARE ENCODING ##############")        
    new_df = rare_encoder(data, 0.01)
    new_df.shape
    rare_analyser(new_df, "Survived", cat_cols)

In [134]:
new_df = titanic_data_prep(df)

############## LABEL ENCODING ##############
['Sex']      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    1  27.0      0
887                       Graham, Miss. Margaret Edith    0  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    0   NaN      1
889                              Behr, Mr. Karl Howell    1  26.0      0
890                                Dooley, Mr. Patrick    1  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]


############## OUTLIERS ##############
############## are there any outliers? ##############
PassengerId no outliers
Survived no outliers
Pclass no outliers
Sex no outliers
Age no outliers
SibSp
159    8
180    8
201    8
324    8
792    8
846    8
863    8
Name: SibSp, dtype: int64
SibSp None
SibSp outliers_removed
Parch
678    6
Name: Parch, dtype: int64
Parch None
Parch outliers_removed
Fare
258    512.3292
679    512.3292
737    512.3292
Name: Fare, dtype: float64
Fare None
Fare outliers_removed




############## MISSING VALUES ##############
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
          n_miss  ratio
Cabin        687  77.10
Age          177  19.87
Embarked       2   0.22
['Age', 'Cabin', 'Embarked']


############## ONE HOT ENCODER ##############
['Embarked']      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    1  27.0      0
887                       Graham, Miss. Margaret Edith    0  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    0   NaN      1
889                              Behr, Mr. Karl Howell    1  26.0      0
890                                Dooley, Mr. Patrick    1  32.0      0

     Parch            Ticket     Fare Cabin  Embarked_Q  Embarked_S
0        0         A/5 21171   7.2500   NaN           0           1
1        0          PC 17599  71.2833   C85           0           0
2        0  STON/O2. 3101282   7.9250   NaN           0           1
3        0            113803  53.1000  C123           0           1
4        0            373450   8.0500   NaN           0           1
..     ...               ...      ...   ...         ...         ...
886      0            211536  13.0000   NaN           0           1
887      0            112053  30.0000   B42           0           1
888      2        W./C. 6607  23.4500   NaN           0           1
889      0            111369  30.0000  C148           0           0
890      0            370376   7.7500   NaN           1           0

[891 rows x 13 columns]


############## FINDING RARE VALUES ##############
Name : 891
                                       COUNT     RATIO  TARGET_MEAN
Abbing, Mr. Anthony                        1  0.001122            0
Abbott, Mr. Rossmore Edward                1  0.001122            0
Abbott, Mrs. Stanton (Rosa Hunt)           1  0.001122            1
Abelson, Mr. Samuel                        1  0.001122            0
Abelson, Mrs. Samuel (Hannah Wizosky)      1  0.001122            1
...                                      ...       ...          ...
de Mulder, Mr. Theodore                    1  0.001122            1
de Pelsmaeker, Mr. Alfons                  1  0.001122            0
del Carlo, Mr. Sebastiano                  1  0.001122            0
van Billiard, Mr. Austin Blyler            1  0.001122            0
van Melkebeke, Mr. Philemon                1  0.001122            0

[891 rows x 3 columns]
Ticket : 681
             COUNT     RATIO  TARGET_MEAN
110152           3  0.003367     1.000000
110413           3  0.003367     0.666667
110465           2  0.002245     0.000000
110564           1  0.001122     1.000000
110813           1  0.001122     1.000000
...            ...       ...          ...
W./C. 6608       4  0.004489     0.000000
W./C. 6609       1  0.001122     0.000000
W.E.P. 5734      1  0.001122     0.000000
W/C 14208        1  0.001122     0.000000
WE/P 5735        2  0.002245     0.500000

[681 rows x 3 columns]
Cabin : 147
     COUNT     RATIO  TARGET_MEAN
A10      1  0.001122          0.0
A14      1  0.001122          0.0
A16      1  0.001122          1.0
A19      1  0.001122          0.0
A20      1  0.001122          1.0
..     ...       ...          ...
F33      3  0.003367          1.0
F38      1  0.001122          0.0
F4       2  0.002245          1.0
G6       4  0.004489          0.5
T        1  0.001122          0.0

[147 rows x 3 columns]
Embarked : 3
   COUNT     RATIO  TARGET_MEAN
C    168  0.188552     0.553571
Q     77  0.086420     0.389610
S    644  0.722783     0.336957




############## RARE ENCODING ##############
Name : 1
      COUNT  RATIO  TARGET_MEAN
Rare    891    1.0     0.383838
Ticket : 1
      COUNT  RATIO  TARGET_MEAN
Rare    891    1.0     0.383838
Cabin : 1
      COUNT     RATIO  TARGET_MEAN
Rare    204  0.228956     0.666667
Embarked : 3
   COUNT     RATIO  TARGET_MEAN
C    168  0.188552     0.553571
Q     77  0.086420     0.389610
S    644  0.722783     0.336957

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [141]:
import pickle
outfile=open("titanic_prep.pkl","wb")

In [142]:
pickle.dump(new_df,outfile)