In [3]:
user_movie_df = create_user_movie_df()

In [4]:
user_movie_df.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
user_movie_df.reset_index()

title,userId,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138488,138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138489,138490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138490,138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138491,138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492,138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#
user = 108170
user_df = user_movie_df[user_movie_df.index == user]

In [7]:
user_df.shape

(1, 3159)

In [8]:
# or user_df = df[df.index == user], watched_movie = user_df["title"].tolist()
watched_movie = user_df.columns[user_df.notna().any()].tolist()

In [9]:
len(watched_movie)

186

In [10]:
perc = len(watched_movie)*60/100
perc

111.6

In [11]:
# 3 the other customers that watched the same movies
movies_watched_df = user_movie_df[watched_movie]

In [12]:
movies_watched_df.T.head()

userId,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,138484.0,138485.0,138486.0,138487.0,138488.0,138489.0,138490.0,138491.0,138492.0,138493.0
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey (1968),3.5,5.0,5.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Adventures of Priscilla, Queen of the Desert, The (1994)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
Akira (1988),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aladdin (1992),NaN,NaN,NaN,NaN,5.0,NaN,NaN,3.0,NaN,NaN,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.5
Aliens (1986),4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5

In [13]:
movies_watched_df.shape

(138493, 186)

In [15]:
 movies_watched_df.notnull().sum()

title
2001: A Space Odyssey (1968)                                25253
Adventures of Priscilla, Queen of the Desert, The (1994)    10312
Akira (1988)                                                 8324
Aladdin (1992)                                              41844
Aliens (1986)                                               27206
                                                            ...
Wedding Singer, The (1998)                                  13384
Who Framed Roger Rabbit? (1988)                             21739
Wild at Heart (1990)                                         1537
Willow (1988)                                                9217
X2: X-Men United (2003)                                     15573
Length: 186, dtype: int64

In [16]:
user_movie_count = movies_watched_df.T.notnull().sum()

In [17]:
user_movie_count = user_movie_count.reset_index()

In [18]:
user_movie_count.head()

   userId   0
0     1.0  53
1     2.0  11
2     3.0  47
3     4.0   5
4     5.0  16

In [19]:
user_movie_count.columns = ["userId", "movie_count"]
user_movie_count.head()

   userId  movie_count
0     1.0           53
1     2.0           11
2     3.0           47
3     4.0            5
4     5.0           16

In [20]:
user_movie_count[user_movie_count["movie_count"] > perc].sort_values("movie_count", ascending=False)

          userId  movie_count
108169  108170.0          186
8404      8405.0          185
118204  118205.0          184
74141    74142.0          183
69792    69793.0          182
...          ...          ...
20027    20028.0          112
19527    19528.0          112
19257    19258.0          112
117285  117286.0          112
69933    69934.0          112

[2326 rows x 2 columns]

In [21]:
users_same_movies = user_movie_count[user_movie_count["movie_count"] > perc]["userId"]

In [22]:
users_same_movies.shape

(2326,)

In [26]:
# 
final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies.index)],
                      user_df[watched_movie]])

In [30]:
movies_watched_df[movies_watched_df.index.isin(users_same_movies.index)].shape

(2326, 186)

In [28]:
final_df.shape

(2327, 186)

In [31]:
# correlation
corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()

In [33]:
corr_df.head()

userId   userId
21164.0  117014.0   -1.0
45618.0  39555.0    -1.0
24134.0  111101.0   -1.0
88031.0  74965.0    -1.0
54464.0  2396.0     -1.0
dtype: float64

In [34]:
corr_df = pd.DataFrame(corr_df, columns=["corr"])

In [35]:
corr_df.index.names = ['user_id_1', 'user_id_2']

In [36]:
corr_df.head()

                     corr
user_id_1 user_id_2
21164.0   117014.0   -1.0
45618.0   39555.0    -1.0
24134.0   111101.0   -1.0
88031.0   74965.0    -1.0
54464.0   2396.0     -1.0

In [37]:
corr_df = corr_df.reset_index()

In [38]:
corr_df.head()

   user_id_1  user_id_2  corr
0    21164.0   117014.0  -1.0
1    45618.0    39555.0  -1.0
2    24134.0   111101.0  -1.0
3    88031.0    74965.0  -1.0
4    54464.0     2396.0  -1.0

In [39]:
top_users = corr_df[(corr_df["user_id_1"] == user) & (corr_df["corr"] >= 0.65)][["user_id_2", "corr"]].reset_index(drop=True)

In [40]:
top_users

    user_id_2      corr
0     92769.0  0.650710
1     45814.0  0.651219
2     84287.0  0.651749
3     63833.0  0.652963
4     95788.0  0.653866
..        ...       ...
62    68350.0  0.881489
63    49211.0  0.882716
64     9086.0  0.891991
65    74035.0  0.913956
66    80770.0  0.968004

[67 rows x 2 columns]

In [41]:
top_users = top_users.sort_values(by='corr', ascending=False)
top_users

    user_id_2      corr
66    80770.0  0.968004
65    74035.0  0.913956
64     9086.0  0.891991
63    49211.0  0.882716
62    68350.0  0.881489
..        ...       ...
4     95788.0  0.653866
3     63833.0  0.652963
2     84287.0  0.651749
1     45814.0  0.651219
0     92769.0  0.650710

[67 rows x 2 columns]

In [45]:
top_users.rename(columns={"user_id_2": "userId"}, inplace=True)

In [44]:
# görev 5
rating = pd.read_csv('../input/movielens-20m-dataset/rating.csv')

In [47]:
top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')

In [48]:
top_users_ratings.head()

    userId      corr  movieId  rating
0  80770.0  0.968004        2     2.0
1  80770.0  0.968004      249     5.0
2  80770.0  0.968004      293     5.0
3  80770.0  0.968004      380     2.0
4  80770.0  0.968004      541     4.0

In [49]:
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']

In [50]:
top_users_ratings.head()

    userId      corr  movieId  rating  weighted_rating
0  80770.0  0.968004        2     2.0         1.936008
1  80770.0  0.968004      249     5.0         4.840019
2  80770.0  0.968004      293     5.0         4.840019
3  80770.0  0.968004      380     2.0         1.936008
4  80770.0  0.968004      541     4.0         3.872015

In [53]:
top_users_ratings.sort_values(by="weighted_rating", ascending=False).head()

     userId      corr  movieId  rating  weighted_rating
1   80770.0  0.968004      249     5.0         4.840019
2   80770.0  0.968004      293     5.0         4.840019
14  80770.0  0.968004     2291     5.0         4.840019
6   80770.0  0.968004      778     5.0         4.840019
10  80770.0  0.968004     1641     5.0         4.840019

In [56]:
recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})

         weighted_rating
movieId
835             4.413579
8914            4.407443
55908           4.407443
1487            4.337053
69757           4.337053

In [57]:
recommendation_df.reset_index()

      movieId  weighted_rating
0           1         2.239900
1           2         2.144713
2           3         2.039647
3           4         1.565095
4           5         1.664539
...       ...              ...
1935    92259         4.138405
1936    95510         3.310724
1937    96610         3.724564
1938    98961         3.310724
1939   106918         2.886213

[1940 rows x 2 columns]

In [58]:
recommendation_df.sort_values(by="weighted_rating", ascending=False).head()

         weighted_rating
movieId
835             4.413579
8914            4.407443
55908           4.407443
1487            4.337053
69757           4.337053